body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #121212;
  line-height: 1.5;
  background-color: rgb(0, 0, 120);
}

/* Fomr Group */
.form-group {
  margin: 0 0 15px 0;
}

/* Auth */
.auth {
  border-radius: 5px;
  width: 260px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
}

.auth-title {
  margin: 0 0 15px 0;
  font-size: 20px;
  color: rgb(0, 0, 120);
  text-align: center;
}

/* Input */
.input {
  background-color: #fff;
  display: block;
  width: 238px;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit;
  font-size: 15px;
}

.input:focus {
  outline: none;
  border-color: rgb(0, 0, 100);
}

/* Select */
.form-select {
  background-color: #fff;
  display: block;
  height: 35px;
  width: 260px;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit;
  font-size: 15px;
}

.form-select:focus {
  outline: none;
  border: 1px solid rgb(0, 0, 100);
}

/* Button */
.btn {
  display: block;
  width: 260px;
  padding: 10px;
  background-color: rgb(0, 0, 120);
  color: #fff;
  font-family: inherit;
  font-size: 15px;
  border: 0;
  border-radius: 5px;
}

.btn:hover,
.btn:focus {
  outline: none;
  cursor: pointer;
  background-color: rgb(0, 0, 100);
}

.btn:active {
  background-color: rgb(0, 0, 80);
}
