body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #121212;
  line-height: 1.5;
  background: url("img/bg3.png") fixed;
}

*, *::before, *::after {
  box-sizing: border-box;
  border-radius: 5px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.page {
  width: 1200px;
  padding: 12px;
  margin: 20px auto;
  background-color: #ffffff;
  overflow: hidden;
  min-height: 100vh;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px #a0a0a0;
}

/* Header */
.header {
  padding: 20px;
  background-color: #494949;;
}

.header-title {
  margin: 0;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
}

.header-subtitle {
  margin: 0;
  color: #7e80ff;
  font-size: 16px;
  text-align: center;
  font-weight: normal;
}

/* Navigation */
.navigation {
  background-color: #fff;
  justify-content: space-between;
  align-items: center;;
  padding: 8px 0;
  display: flex;
}

.nav-link {
  padding: 12px;
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
  margin: 0 0 0 6px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: 0.2s;
  background-color: #7e80ff;
}

.nav-link:hover {
  color: #fff;
  background-color: #000264;
  transition: 0.2s;
}

.nav-link:first-child {
  margin-left: 0;
}


/* Images */
.leaves {
  max-width: 100%;
}

/* Conteiner */
.conteiner {
  display: flex;
}

/* Content */
.content {
  max-width: 900px;
  padding: 10px;
}

.content-title {
  margin: 20px;
  font-size: 24px;
  color: #fd3b3b;
  margin: 0 0 15px 0;
}

/* Sidebar */
.sidebar {
  width: 300px;
  padding: 10px;
  background: rgb(214, 214, 214);
}

.sidebar-text {
  text-align: justify;
  font-size: 12px;
}

.sidebar-title {
  font-size: 16px;
  color: #fd3b3b;
}

.read-more {
  text-decoration: none;
  color: #7e80ff
}

.read-more:hover {
  text-decoration: underline;
}

.sidebar-photo {
  max-width: 100%;
}

/* Article */
.article {
  margin-bottom: 20px;
  border-bottom: 1px solid #a4a4a4;
  padding-bottom: 20px;
}
.article-text {
  text-align: justify;
}

.article-title {
  font-size: 18px;
  color: #000264;
  margin: 0 0 5px 0;
}
.article-title a{
  color: inherit;
  text-decoration: none;
}
.article-title a:hover {
  text-decoration: underline;
}

.article-date {
  display: block;
  color: #a4a4a4;
  font-size: 15px;
}

/* Footer */

.footer {
  padding: 20px;
  background-color: #494949;
  color: #ffffff;
  text-align: center;
  margin-top: auto;
}

