body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #121212;
  line-height: 1.5;
  background: url("../img/bg3.png") fixed;
}

.page {
  max-width: 1200px;
  margin: 20px auto;
  padding: 5px;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px #a0a0a0;
  border-radius: 5px;
}

@media (max-width: 1200px) {
  .page {
    max-width: 900px;
  }
}

@media (max-width: 767px) {
  .page {
    max-width: 650px;
  }
}

@media (max-width: 667px) {
  .page {
    max-width: none;
  }
}


/* Header */
.header {
  padding: 20px;
  background-color: #494949;
  border-radius: 5px;
}

.header-title {
  margin: 0;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
}

.header-subtitle {
  margin: 0;
  color: #7e80ff;
  font-size: 16px;
  text-align: center;
  font-weight: normal;
}

/* Navigation */
.navigation {
  text-align: center;
}

.nav-link {
  display: inline-block;
  padding: 8px 12px;
  text-decoration: none;
  color: #121212;
  font-size: 16px;
}

.nav-link:hover{
  background-color: #a0a0a0;
  transition: 0.8s;
}

/* Images */
.leaves {
  max-width: 100%;
  border-radius: 5px;
}

/* Content */
.content {
  padding: 20px;
}

.content-text {
  margin-bottom: 20px;
  text-align: justify;
}

.content-title {
  margin: 0;
  font-size: 24px;
  color: #fd3b3b;
  margin: 0 0 15px 0;
}

.read-more {
  text-decoration: none;
  color: #7e80ff
}

.read-more:hover {
  text-decoration: underline;
}

/* Article */
.article {
  margin-bottom: 20px;
  border-bottom: 1px solid #a4a4a4;
  padding-bottom: 20px;
}
.article-text {
  text-align: justify;
}

.article-title {
  font-size: 18px;
  color: #000264;
  margin: 0 0 5px 0;
}
.article-title a{
  color: inherit;
  text-decoration: none;
}
.article-title a:hover {
  text-decoration: underline;
}

.article-date {
  color: #a4a4a4;
  font-size: 15px;
}

/* Footer */

.footer {
  padding: 20px;
  background-color: #494949;
  color: #ffffff;
  text-align: center;
  margin-top: auto;
  border-radius: 5px;
}

