body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #333;
  line-height: 1.4;
  background: url("../img/bg3.png") center fixed;
}

.title {
  text-align: center;
  font-weight: 400;
  letter-spacing: 2px;
  text-decoration: overline;
  text-transform: uppercase;
}

.justify {
  text-align: justify;
  font-weight: bold;
  font-style: italic;
  text-transform: capitalize;
}

ul {
  list-style-type: square;
  list-style-position: inside;
  color: rgb(8, 2, 65);
  font-family: Helventica;
}

ol {
  list-style: decimal-leading-zero;
  text-transform: lowercase;
}

.table {
  width: 100%;
  border: 1px dashed #aaaaaa;
  border-collapse: collapse;
  table-layout: fixed;
  background-color: white;
}

.table th {
  color: rgb(153, 0, 0);
  text-align: left;
  padding: 5px 10px;
}

.table td {
  border: 1px dashed #aaaaaa;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.table tfoot td {
  text-align: right;
}

.text-red {
  color: rgb(148, 3, 3);
  font-weight: 600;
  font-style: oblique;
}

.content {
  text-align: justify;
}

.page {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* post style */

.post {
  width: 900px;
  height: 400px;
  padding: 15px 25px;
  margin: 0 auto 50px;
  border: 1px solid rgb(180, 180, 180);
  background: url("../img/grass_sky_light_sunset.jpg") center;
  background-size: cover;
}

.post_title {
  margin: 0 0 20px 0;
  color: rgb(255, 230, 0);
}

.post_text {
  margin: 0 0 10px 0;
  color: rgb(255, 255, 255);
  font-weight: 400;
}

/* gradient style*/

.l-gradient {
  margin: 0 auto 50px;
  width: 900px;
  height: 400px;
  background-image: linear-gradient(to right, #fff 20%, #333 20%, #333 40%, 
  #fff 40%, #fff 60%, #333 60%, #333 80%, #fff 80%);
}

.r-gradient {
  margin: 0 auto 50px;
  width: 900px;
  height: 400px;
  background-image: radial-gradient(circle, #fff, #333);
}

/* Form */
.form {
  width: 500px;
  padding: 20px;
  margin: auto;
  background-color: #fff;

}

.form-group {
  margin: 15px;
}

.form-input {
  display: block;
  padding: 5px;
  border: 1px solid #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  outline: none;
}

.form-input:focus{
  background-color: rgb(145, 220, 255);
}

.form-textarea {
  width: 90%;
  height: 300px;
  border: 1px solid #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  resize: none;
  padding: 15px;
  outline: none;
}

.form-textarea:focus{
  background-color: rgb(145, 220, 255);
}

.form-select {
  margin: 15px;
}

.link {
  color: rgb(58, 33, 172);
  text-decoration: none;
  display: flex;
  margin: 18px;
}

.link:visited {
  color: rgb(75, 0, 82);
}

.link:hover {
  text-decoration: underline;
}

.link:active {
  color: rgb(0, 87, 87);
}

.btn {
  background-color: rgb(0, 165, 0);
  color: #fff;
  border: 1px solid rgb(0, 71, 0);
  padding: 5px 10px;
}

.btn:focus {
  outline:none
}

.btn:hover,
.btn:focus {
  background-color: rgb(0, 71, 0);
  cursor: pointer;
}

.btn:active {
  background-color: rgb(0, 46, 0);
}

.btn:disabled {
  background-color: rgb(126, 126, 126);
  color: #fff;
  border: 1px solid rgb(44, 44, 44);
  padding: 5px 10px;
  cursor: not-allowed;
}